services:
  - type: web
    name: miniapp-backend
    env: node
    region: frankfurt
    plan: free
    
    rootDir: backend
    
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
